<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body>
    <div class=" cont gap-4 bg-zinc-900 w-screen h-screen flex flex-col justify-center items-center"> 
        <h1 class="text-black text-[19px]  px-2 bg-white rounded-xl border outline-none"><%= title %></h1>
        <img src="<%= img %>" class="w-[80vw] md:w-[50vw] rounded-2xl" alt="hero">
    </div>
</body>
</html>